Repository 18F/fedramp-automation, pull requests merged in 2022-05, with the labels that each got.

#468 Implement DNS-related validations
  .github/workflows/run-tests.yml
  src/examples/python/test_validate_ssp.py
  src/validations/rules/ssp.sch
  src/validations/test/ssp.xspec
Labels: o: ssp

#480 Improve sample SSP generation (#449)
  src/validations/rules/sample-ssp.xsl
Labels: o: ssp

#490 Add pentest-related SAP validations
  src/validations/rules/sap.sch
  src/validations/test/rules/sap.xspec
Labels: schematron code, o: sap

#504 Add validation rules related to `import-ssp`.
  src/validations/rules/sap.sch
  src/validations/test/rules/sap.xspec
Labels: schematron code, o: sap

#500 Fix html lang
  src/validations/rules/rules.xsl
  src/web/public/oscal_ssp_json-to-xml-converter.sef.json
  src/web/public/rules.html
  src/web/public/xspec-scenarios.json
  src/web/test-report.html
Labels: accessibility

#508 Add import-ap validations to sar.sch
  dist/content/templates/sar/xml/FedRAMP-SAR-OSCAL-Template.xml
  src/validations/rules/sar.sch
  src/validations/test/rules/sar.xspec
Labels: documentation, schematron code, o: sar

#511 Remove superfluous scenarios
  src/validations/test/rules/sap.xspec
Labels: schematron code, o: sap

#512 Add validations for SAP ROE signatures
  src/validations/rules/sap.sch
  src/validations/test/rules/sap.xspec
Labels: documentation, schematron code, o: sap

#519 Correct SSP reference
  dist/content/templates/sap/xml/FedRAMP-SAP-OSCAL-Template.xml
Labels: documentation, o: sap
